<mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="2000ms">
  <div class="market">
    <mat-tab label="Buy Orders">
      <div class="allfish">
        <mat-card *ngFor="let fish of BuyOrderFishes" class="example-card">
          <mat-card-header> </mat-card-header>
          <img
            *ngIf="fish.rarity == 1"
            mat-card-image
            src="http://wearecodex.com/steem-avatars/avatar-minnow.php?seed={{
              fish.fish
            }}"
            alt="Fish"
          />
          <img
            *ngIf="fish.rarity == 2"
            mat-card-image
            src="http://wearecodex.com/steem-avatars/avatar-orca.php?seed={{
              fish.fish
            }}"
            alt="Fish"
          />
          <img
            *ngIf="fish.rarity == 3"
            mat-card-image
            src="http://wearecodex.com/steem-avatars/avatar-dolphin.php?seed={{
              fish.fish
            }}"
            alt="Fish"
          />
          <mat-card-content>
            <div class="properties">
              <mat-grid-list cols="1" rowHeight="30px">
                <mat-grid-tile>
                  <p *ngIf="fish.rarity == 1">Common</p>
                  <p *ngIf="fish.rarity == 2">Rare</p>
                  <p *ngIf="fish.rarity == 3">Epic</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>Weight : {{ fish.weight }}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>Price : {{ fish.price }}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button mat-raised-button (click)="buyFish(fish)" color="primary">Buy Now</button>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Cancel Orders">
      <div class="allfish">
        <mat-card *ngFor="let fish of MyOrderFishes" class="example-card">
          <mat-card-header> </mat-card-header>
          <img
            *ngIf="fish.rarity == 1"
            mat-card-image
            src="http://wearecodex.com/steem-avatars/avatar-minnow.php?seed={{
              fish.fish
            }}"
            alt="Fish"
          />
          <img
            *ngIf="fish.rarity == 2"
            mat-card-image
            src="http://wearecodex.com/steem-avatars/avatar-orca.php?seed={{
              fish.fish
            }}"
            alt="Fish"
          />
          <img
            *ngIf="fish.rarity == 3"
            mat-card-image
            src="http://wearecodex.com/steem-avatars/avatar-dolphin.php?seed={{
              fish.fish
            }}"
            alt="Fish"
          />
          <mat-card-content>
            <div class="properties">
              <mat-grid-list cols="1" rowHeight="30px">
                <mat-grid-tile>
                  <p *ngIf="fish.rarity == 1">Common</p>
                  <p *ngIf="fish.rarity == 2">Rare</p>
                  <p *ngIf="fish.rarity == 3">Epic</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>Weight : {{ fish.weight }}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>Price : {{ fish.price }}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button mat-raised-button (click)="cancelOrder(fish)" color="primary">Cancel</button>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </div>
</mat-tab-group>
