.home {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
}
// .mat-raised-button {
//   // padding: 40px 80px;
//   font-size: 30px;
//   justify-content: flex-start;
// }
