<mat-grid-list cols="3">
  <mat-grid-tile> </mat-grid-tile>
  <mat-grid-tile>
    <div class="home">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Crypto Fishing Game</mat-card-title>
          <mat-card-subtitle>Fish Hunt !!! Earn!!!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <mat-grid-list cols="1">
            <mat-grid-tile>
              <button (click)="login()" mat-raised-button color="primary">
                Login
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile> </mat-grid-tile>
</mat-grid-list>
