.play {
  display: flex;

  .left {
    width: 30vw;
    height: 91vh;
    .mat-fab{
      margin: 35%;
      width: 200px;
      height: 200px;
      font-size: 50px;
      
    }
    .energy {
      display: inline-flex;
      justify-content: center;
      .icon {
        #energy {
          color: chartreuse;
          font-size: 75px;
        }
      }
      .num {
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 91vh;
    .example-card {
      margin-top: 30px;
      max-width: 400px;
      max-height: 400px;
    }
  }
}
